.contact-section-form {
  padding-block: 6rem;
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 3rem;
  }
  article {
    padding: 3rem;
    border: 1px solid var(--color-border-light);
    display: flex;
    gap: 1rem;
    i {
      background-color: black;
      color: white;
      font-size: 1.25rem;
      width: 64px;
      height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10rem;
    }
    h4 {
      padding-bottom: 0.5rem;
    }
  }
  form {
    background-color: var(--color-beige);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 6rem;
  }
  textarea {
    resize: vertical;
  }
  button {
    margin-top: 2rem;
  }
}

.contact-section-map {
  display: flex;
  justify-content: center;
  max-height: 620px;
  img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
  }
}
