.home-section-hero {
  background-color: var(--color-beige);
  padding-top: 2rem;
  background-image: url("/images/backgrounds/white-swirl-left.svg");
  background-position: bottom -90px left -260px;
  background-repeat: no-repeat;
  .container {
    display: flex;
  }
  h1 {
    font-size: 5.5rem;
    margin-top: 3rem;
  }
  p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
  }
  img {
    margin-right: -48px;
  }
}

.home-section-partners {
  padding-block: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  img {
    height: 100%;
  }
}

.home-section-features {
  border: 1px solid var(--color-border-light);
  padding-block: 6rem;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .intro {
    padding-right: 10rem;
  }
  h3 {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
    i {
      font-size: 2rem;
      color: var(--color-text-light);
    }
    h4 {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
    }
  }
}

.home-section-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 6rem;
  gap: 8rem;
  .founder {
    position: relative;
    img {
      padding-left: 64px;
    }
  }
  .quote {
    position: absolute;
    bottom: 40px;
    background-color: var(--color-light-blue);
    max-width: 400px;
    padding: 1.5rem;
    padding-bottom: 4rem;
    box-shadow: var(--shadow-subtle);
    h2 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    line-height: 2;
    p {
      margin-top: 0.5rem;
    }
  }
  .buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
  }
  .button-special {
    i {
      rotate: none;
      border: 1px solid;
      padding: 1.25rem;
      border-radius: 10rem;
      margin-right: 1rem;
      aspect-ratio: 1/1;
      text-align: center;
    }
  }
}

.home-section-services {
  background-color: var(--color-beige);
  padding-block: 6rem;
  background-image: url("/images/backgrounds/white-swirl-right.svg");
  background-position: bottom -90px right -340px;
  background-repeat: no-repeat;
  h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    max-width: 500px;
  }
  .gallery {
    display: flex;
    gap: 2rem;
    & > a {
      background-color: white;
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      transition: background-color 600ms ease;
      &:hover {
        background-color: var(--color-yellow);
        transition-duration: 100ms;
        i {
          background-color: white;
          color: var(--color-text);
          transition-duration: 100ms;
        }
      }
    }
    i {
      transition: background-color 800ms, color 800ms;
      background-color: black;
      color: white;
      width: fit-content;
      padding: 1.25rem;
      border-radius: 10rem;
      aspect-ratio: 1/1;
      text-align: center;
      align-self: flex-end;
      margin-top: 0.5rem;
    }
  }
  .line {
    background-color: var(--color-text);
    height: 1px;
    width: 48px;
    margin-bottom: 1rem;
  }
  .button-secondary {
    width: fit-content;
    margin: auto;
    margin-top: 3rem;
  }
}

.home-section-why {
  padding-top: 6rem;
  overflow: hidden;
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  .info {
    padding-right: 8rem;
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  li {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    p {
      margin-top: 0.5rem;
    }
  }
  i {
    border: 1px solid var(--color-border-light);
    border-radius: 10rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
  }
  .image-wrapper {
    position: relative;
    height: fit-content;
  }
  .block {
    position: absolute;
    background-color: var(--color-beige);
    width: 100vw;
    top: 35%;
    bottom: -20%;
    left: -15%;
    z-index: -1;
  }
}

.home-section-projects {
  padding-block: 6rem;
  text-align: center;
  h3 {
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 3rem;
    & > div {
      text-align: start;
    }
    h4 {
      padding-top: 2rem;
      padding-bottom: 1rem;
    }
    .button {
      margin-left: auto;
      width: fit-content;
      padding: 1rem;
      margin-top: 1rem;
    }
  }
  .button-inverted {
    width: fit-content;
    margin: auto;
  }
  hr {
    opacity: 0.2;
  }
}

.home-section-team {
  background-color: var(--color-yellow);
  padding-block: 6rem;
  .heading {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    h4 {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.home-section-testimonial {
  background-color: var(--color-yellow);
  padding-bottom: 6rem;
  .container-large {
    background-color: white;
    padding-block: 6rem;
    text-align: center;
  }
  h3 {
    padding-top: 1rem;
    padding-bottom: 6rem;
  }
  .gallery {
    text-align: start;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6rem;
  }
  .review {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1rem;
      line-height: 1.8;
    }
    .client {
      padding-top: 0.5rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      p {
        font-size: 1rem;
      }
    }
  }
  .stars {
    color: var(--color-orange);
  }
  .button {
    width: fit-content;
    margin-inline: auto;
    margin-top: 6rem;
  }
}

.home-section-articles {
  padding-block: 6rem;
  .heading {
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  article {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  img {
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  .date {
    background-color: var(--color-yellow);
    position: absolute;
    padding: 0.5rem 1rem;
    left: 1rem;
    top: 1rem;
    text-align: center;
    line-height: normal;
    span {
      font-size: 1.25rem;
      font-weight: 700;
    }
  }
  nav {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }
}

.home-section-newsletter {
  padding-block: 6rem;
  background-color: var(--color-beige);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  form {
    display: flex;
    gap: 1rem;
  }
}
