:root {
  --max-width: 1320px;
  --max-width-large: 1520px;

  --color-text: #222;
  --color-text-light: #555;
  --color-text-inverted: #c2c6cd;
  --color-beige: #f0efe9;
  --color-yellow: #f9d783;
  --color-orange: #f94d1c;
  --color-dark-blue: #0e1021;
  --color-light-blue: #beebff;
  --color-border-light: #ccc;

  --shadow-subtle: 0 4px 32px rgba(0 0 0 / 0.15);
}
