@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer class="footer-main">
    <div class="gallery container">
        <div class="first">
            <img src="~/static/images/logos/crito_logo_footer.png" alt="Crito logo" />
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat
                obcaecati voluptas voluptates! Voluptates laborum nam ratione minus
                necessitatibus, iure praesentium.
            </p>
        </div>
        <div class="sitemap">
            <div>
                <h3>Company</h3>
                <a href="#">About</a>
                <a href="#">Features</a>
                <a href="#">Works</a>
                <a href="#">Career</a>
            </div>
            <div>
                <h3>Help</h3>
                <a href="#">Customer Support</a>
                <a href="#">Delivery Details</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div>
                <h3>Resources</h3>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#">How to - Blog</a>
                <a href="#">YouTube Playlist</a>
            </div>
            <div>
                <h3>Link</h3>
                <a href="#">Free eBooks</a>
                <a href="#">Development Tutorial</a>
                <a href="#">How to - Blog</a>
                <a href="#">YouTube Playlist</a>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <p>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
            <ul class="socials">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook-square" aria-label="facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter" aria-label="twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-instagram" aria-label="instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin-square" aria-label="linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>