@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ArticleGalleryPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Layout.cshtml";
    
    var itemsPerPage = 6;
    var pageNumber = 1;
    
    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
    {
        pageNumber = 1;
    }
    
    var selection = Umbraco.Content(Guid.Parse("06219512-9050-4a05-a56f-0fbb38cec75d"))
        .ChildrenOfType("articlePage")
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate);
        
    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);
}

<partial name="Sections/Breadcrumb" />

<section class="home-section-articles container">
    <h2 class="text-accent">@Model.Value("pageTitle")</h2>
    <div class="heading">
        <h3 class="text-subtitle">@Model.Value("articleGalleryHeading")</h3>
    </div>
    <div class="gallery">

        @foreach (var item in pagedItems)
        {
            <partial name="Components/ArticlePreview" , model="item" />
        }

    </div>
    
    <a href="?page=2" >PAGINERING HÄR</a>
    
</section>

<partial name="Sections/Newsletter" />