@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-about container">
    <div class="founder">
        <img src="~/images/home-page/about-company/about_company.png" alt="happy woman walking with laptop" />
        <div class="quote">
            <h2>Samantha Brown, <span class="text-accent">Founder</span></h2>
            <p>"Lorem ipsum dolor sit amet consectetur, adipisicing elit."</p>
        </div>
    </div>
    <div class="info">
        <h2 class="text-accent">About Company</h2>
        <h3 class="text-subtitle">
            We Are Business Consulting & Credit Repair Experts
        </h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere
            illum omnis quas corrupti! Illum deleniti facere, vero nostrum
            cumque sunt officia culpa.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, ex
            ut! Pariatur mollitia provident sed sapiente voluptas odio eaque
            ipsum?
        </p>
        <div class="buttons">
            <a href="#" class="button button-inverted">
                Learn More<i class="fa fa-arrow-right"></i>
            </a>
            <a href="#" class="button-special"><i class="fa fa-play"></i>Intro Video</a>
        </div>
    </div>
</section>