@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-articles container">
    <h2 class="text-accent">Articles & News</h2>
    <div class="heading">
        <h3 class="text-subtitle">Read Our Latest Articles</h3>
        <a href="~/news" class="button button-secondary">
            Browse Articles <i class="fa fa-arrow-right"></i>
        </a>
    </div>
    <div class="gallery">

        @{
            var selection = Umbraco.Content(Guid.Parse("06219512-9050-4a05-a56f-0fbb38cec75d"))
            .ChildrenOfType("articlePage")
            .Where(x => x.IsVisible())
            .OrderByDescending(x => x.CreateDate)
            .Take(3);
        }

        @foreach (var item in selection)
        {
            <partial name="Components/ArticlePreview" , model="item" />
        }

    </div>
</section>