@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-features container-large">
  <div class="container">
    <div class="intro">
      <h2 class="text-accent">@Model.Value("genericSectionH2")</h2>
      <h3 class="text-subtitle">
        Our Accounting Is Trusted by Thousands of Companies
      </h3>
      <a href="#" class="button button-primary"
        >Learn More<i class="fa fa-arrow-right"></i
      ></a>
    </div>
    <div class="gallery">
      <div>
        <i class="fa fa-handshake-o"></i>
        <h4>Business Advice</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div>
        <i class="fa fa-lightbulb-o"></i>
        <h4>Startup Business</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div>
        <i class="fa fa-money"></i>
        <h4>Financial Advice</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div>
        <i class="fa fa-asterisk"></i>
        <h4>Risk Management</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
</section>