@using Umbraco.Cms.Core.Models
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>

<section class="home-section-hero">
    <div class="container">
        <div>
            <h1>@Model.Value("heroSectionHeading")</h1>
            <p>
                Establish your vision and value proposition and turn them into
                testable prototypes.
            </p>
            <div class="buttons">
                <a href="#" class="button button-primary">Get Consulting<i class="fa fa-arrow-right"></i></a>
                <a href="#" class="button button-secondary">Learn More<i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        @{
            if (Model.HeroSectionImage is MediaWithCrops mediaEntry)
            {
                <img src="@mediaEntry.MediaUrl()" alt="@mediaEntry.Value("alt")" />
            }
        }
    </div>
</section>