@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-newsletter">
    <div class="container">
        <h2 class="text-subtitle">Sign Up to Our Newsletter</h2>
        <form>
            <input type="text" placeholder="username@domain.com" />
            <button class="button button-primary">Subscribe <i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
</section>