@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-projects container">
    <h2 class="text-accent">Projects & Case Studies</h2>
    <h3 class="text-subtitle">Let’s Look At Our Global Projects</h3>
    <div class="gallery">
        <div>
            <img src="~/images/home-page/projects-case-studies/grow_your_business.png" alt="newspaper" />
            <h4>Grow your business</h4>
            <hr />
            <a href="#" class="button">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
        <div>
            <img src="~/images/home-page/projects-case-studies/why_your_client_needs.png" alt="ipad" />
            <h4>Why your client needs a responsive website</h4>
            <hr />
            <a href="#" class="button">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
        <div>
            <img src="~/images/home-page/projects-case-studies/educate_your_employees.png" alt="notebook" />
            <h4>Educate your employees to get better results</h4>
            <hr />
            <a href="#" class="button">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
        <div>
            <img src="~/images/home-page/projects-case-studies/business_insights.png" alt="laptop" />
            <h4>Business Insights is a important piece of your business</h4>
            <hr />
            <a href="#" class="button">Read More <i class="fa fa-arrow-right"></i></a>
        </div>
    </div>
    <a href="#  " class="button button-inverted">All Recent Projects<i class="fa fa-arrow-right"></i></a>
</section>