@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-services">
  <div class="container">
    <h2 class="text-accent">Our Services</h2>
    <h3 class="text-subtitle">
      We Provide the Best Service for Consulting
    </h3>
    <div class="gallery">
      <a href="#">
        <div class="line"></div>
        <h4>Business Advice</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
          eaque pariatur.
        </p>
        <i class="fa fa-arrow-right"></i>
      </a>
      <a href="#">
        <div class="line"></div>
        <h4>Startup Business</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
          eaque pariatur.
        </p>
        <i class="fa fa-arrow-right"></i>
      </a>
      <a href="#">
        <div class="line"></div>
        <h4>Financial Advice</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
          eaque pariatur.
        </p>
        <i class="fa fa-arrow-right"></i>
      </a>
      <a href="#">
        <div class="line"></div>
        <h4>Risk Management</h4>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
          eaque pariatur.
        </p>
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <a href="#" class="button button-secondary"
      >Browse Services <i class="fa fa-arrow-right"></i
    ></a>
  </div>
</section>