@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="home-section-team">
    <div class="container">
        <h2 class="text-accent">Meet Our Team</h2>
        <div class="heading">
            <h3 class="text-subtitle">Experienced Team Members</h3>
            <a href="#" class="button button-secondary">Browse Team <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="gallery">
            <div>
                <img src="/static/images/home-page/team-members/kristine_palmer.png" alt="Team Member Kristine Palmer" />
                <h4>Kristine Palmer</h4>
                <p>Chief Operation Officer</p>
            </div>
            <div>
                <img src="/static/images/home-page/team-members/mark_aubri.png" alt="Team Member Mark Aubri" />
                <h4>Mark Aubri</h4>
                <p>Senior Consultant</p>
            </div>
            <div>
                <img src="/static/images/home-page/team-members/kimberly_hansen.png" alt="Team Member Kimberly Hansen" />
                <h4>Kimberly Hansen</h4>
                <p>Senior Consultant/p></p>
            </div>
            <div>
                <img src="/static/images/home-page/team-members/justin_willoman.png" alt="Team Member Justin Willoman" />
                <h4>Justin Willoman</h4>
                <p>Senior Tech Consultant</p>
            </div>
        </div>
    </div>
</section>